# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploaded files
uploads/

# Logs
*.log
/tmp/

# OS files
.DS_Store
._.DS_Store

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
